
 * {
    margin:0;
    padding:0;
    font-family: Verdana, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background: black;
    color: white;
}


.navbar ul{
    list-style: none;
    background: black;
    padding: 0;
    margin: 0;
    text-align: center;
}
/*Aligns the navbar lists in an inline format*/
.navbar li{
    display: inline-block;
}
/*Text of the navigation bar*/
.navbar a{
    text-decoration: none;
    color: aliceblue;
    width: 8em;
    display: block;
    padding: 1.563em 1.250em;
    font-size: 0.938em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    transition: 0.4s;
}
/*When hovering over the nav sections, highlight the specific section to lightblue*/
.navbar a:hover {
    background-color: lightblue;
}
/*Footer styling*/
footer {
    background-color: #34495E;
    color: aliceblue;
    width: 100%;
    text-align: right;
}
/*Footer text*/
footer p {
    padding: 0.938em;
}