
.signup-form {
    width: 45%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    padding: 1.25rem;
    border-radius: 0.625rem;
    background: white;
    color: rgb(13,17,23);
    position: absolute;
    top: 30%;
    left: 25%;    
}

.login-form {
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    padding: 1.25rem;
    border-radius: 0.625rem;
    background: white;
    color: black;
    position: absolute;
    top: 30%;
    left: 34%;
}

.input-ctn{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.625rem;
    position: relative;
    border-bottom: 2px solid gray;

}

.input-ctn input{
    height: 1.875rem;
    margin-bottom: 0.25rem;
    border: none;
    background: none;
    outline: none;
}

button[type="submit"]{
    width: 100%;
    height: 1.875rem;
    margin-top: 1rem;
    display: block;
    color: white;
    cursor: pointer;
    background: rgb(44, 52, 57);
    transition: 0.5s;
    
}

button[type="submit"]:hover{
    opacity: 0.6;
}