
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {
	background-color: #f8f8f8;
}

header {
	background-color: #ff8c00;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 1.2rem;
}

nav a:hover {
	text-decoration: underline;
}

.head123 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.head123 h1 {
	font-size: 3rem;
	margin-bottom: 20px;
}

.head123 h2 {
	font-size: 1.5rem;
	margin-bottom: 50px;
	text-align: center;
}

.btn {
	background-color: #fff;
	color: #ff8c00;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 1.2rem;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.btn:hover {
	background-color: #ff8c00;
	color: #fff;
}

.main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px;
}

.featured {
	margin-bottom: 50px;
}

.featured h2 {
	font-size: 2rem;
	margin-bottom: 20px;
	text-align: center;
}

.menu-loc1 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.menu-loc2 {
	flex-basis: calc(33.33% - 20px);
	margin: 20px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
}

.menu-loc3 {
	margin: 20px;
	margin-top: 10px;
	text-align: left;
}

.rand {
	flex-basis: calc(33.33% - 20px);
	margin: 20px;
	margin-bottom: 40px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
}

.menu-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-left: 20px;
	margin-right: 20px;
}

.menu-item {
	flex-basis: calc(33.33% - 20px);
	margin-bottom: 40px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
}

.menu-item img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: center;
	margin-bottom: 20px;
}

.menu-item h3 {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.menu-item p {
	margin-bottom: 20px;
}

.price {
	display: block;
	font-size: 1.2rem;
	color: #ff8c00;
}

.about {
	margin-bottom: 50px;
	text-align: center;
}

.about h2 {
	font-size: 2rem;
	margin-bottom: 20px;
}

.about p {
	line-height: 1.5;
	margin-bottom: 20px;
}

footer {
	background-color: #444;
	color: #fff;
	padding: 50px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contact {
	flex-basis: 33.33
}