.header {
    z-index: 2;
  }

.body {
    background-color: black;
}
.masthead {
    background-size; cover;
    min-height: 100vh;
    position: relative;
    color: white;
    text-shadow:  2px 2px 2px rgba(0,0,0,.2);
}

.h1 {
    font-size: 4rem;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
}

@media (max-width: 768px) {
    .masthead {
        min-height: 30vh;

    }
    .h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
}

.spacer {
    margin-top: 100px;
}

.spacer1 {
    margin-bottom: 25px;
}

.paragraph {
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 50px;
}