.cardContainer {
    border-style: solid; 
    height:200px;
    overflow: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.cardHeading {
    border-style: solid; 
    width: auto; 
    height: 20%;
    overflow: hidden;
}

.listContainer {
    border-style: solid; 
    width: 25%; 
    height:600px;
    overflow: auto;
}

.listHeading {
    border-style: solid;
}