
.board{
  background-color: #f7e8d3; 
  padding-top: 10px;
  padding-bottom: 30px;
  width: 80%;
/*   margin: 10px auto; */
  margin-top: 30px ;
/*   margin-bottom: 30px; */
  
  margin-left: auto ;
  margin-right: auto ;
  border: 3px solid silver;
  
/*   margin-bottom: 30px auto;
   */
}

nav {
    background-color: #008000;
    padding: 10px;
    border-right: 3px solid silver;
    border-left: 3px solid silver;
    border-top: 3px solid silver;
    border-bottom: 3px solid silver;
    width: 80%;
/*     margin: 10px auto; */
    margin-bottom: 30px ;
  margin-top: 30px;
  margin-left: auto ;
  margin-right: auto ;
  
  
  }


body {
    text-align: center;
/*     background-color: #f7e8d3; */
    background-image: url('stat123.webp');
    background-size: cover;
  

}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: #143176
  
}

.underline{
  text-decoration: underline;  
}


p {
    font-size: 1em;
    margin: 0 0 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
/*     display: inline-block; */
    margin: 0 10px;
}

li {
    margin: 0 10px;
    display: inline-block;
/*     border-right: 1px solid red;
    border-left: 1px solid red;
    border-top: 1px solid red;
    border-bottom: 1px solid red; */
  }

a{
  color: blue;
}

a:hover {
    color: red;
    text-decoration: underline;
  }

