
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    width: 100%;
    height: 100vh;
    /*Backround Image*/
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(foodBackground.jpg);
    background-position: center;
    background-size: cover;
}


.container {
    width:100%;
    max-width: 40.625rem;
    margin:0 auto;
    padding: 1.25rem;
    border-radius: 0.625rem;
    background: bisque;
    color: black;
}

h1 {
    text-align: center;
}

.input-ctn {
    margin-bottom: 0.625rem;
}

.input-ctn label{
    display: block;
    margin-bottom: 0.1875rem;
}

.input-ctn input,
.input-ctn textarea{
    width: 97%;
    padding: 0.625rem;
    border-radius: 0.1875rem;
    border: 0;
    margin-bottom: 0.1875rem;
    outline: 0;
}

.input-ctn input[type="submit"]{
    width: 6.25rem;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    cursor: pointer;
    background: rgb(44, 52, 57);
    transition: 0.5s;
    
}

.input-ctn input[type="submit"]:hover{
    opacity: 0.6;
}

/*Success text*/
.success{
    background: rgb(128, 165, 128);
    padding: 0.3125rem 0.625rem;
    text-align: center;
    color: rgb(44, 60, 44);
    border-radius: 0.1875rem;
    margin-top: 0.625rem;
    font-weight:bold;
}

.error{
    background: rgb(196, 110, 110);
    padding: 0.3125rem 0.625rem;
    text-align: center;
    color: rgb(156, 25, 25);
    border-radius: 0.1875rem;
    margin-top: 0.625rem;
    font-weight:bold;
}